*{
    font-family: Helvetica, Arial,  sans-serif;
}
body{
    background-image: url(fondo.jpg);
}
header{
    text-align: center;
    padding: 30px;
}
nav{
    border: 2px solid white;
    border-radius: 10px;
    width: 75%;
    text-align: center;
    margin: auto;
    background-color: bisque;
}
ul{
    text-decoration: none;
}
li{
    display: inline;
}
form{
    
    margin-top: 10px;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
    margin: 100px;
}
a:visited{
    color: black;
}
a:hover{
    cursor: pointer;
    font-size: larger;
    font-style: oblique;
}