*{
    font-family: Helvetica, Arial,  sans-serif;
}
body{
    background-image: url(fondo.jpg);
}
header{
    text-align: center;
    padding: 30px;
}
nav{
    border: 2px solid white;
    border-radius: 10px;
    width: 75%;
    text-align: center;
    margin: auto;
    background-color: bisque;
}
ul{
    text-decoration: none;
}
li{
    display: inline;
}
form{
    
    margin-top: 10px;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
    margin: 100px;
}
a:visited{
    color: black;
}
a:hover{
    cursor: pointer;
    font-size: larger;
    font-style: oblique;
}
footer{
    font-size: small;
    text-align: center;
    color: whitesmoke;
}
.carteles{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto;
}

              
.float{
    transition: .5s, color infinite;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.float:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
              